/* body and general code */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


html{
    height: 100%;
    width: 100%;
}


body{
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    margin: 0px;
    display: grid;
    grid-template: 9fr 1fr / 2fr 8fr;
    height: 100%;
}

/* main code */

.sidebar{
    background-color: #2dd4bf;
}

.notes-background{
    background-color: #F8FAFC;
    margin: 1rem;
    display: grid;
    gap: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 4rem;
}

#home-user-button, #add-task, #today-button, #calendar-button, #tasks-button, #add-project, #projects-button{
    height: 30px;
    border: 0;
    border-radius: 15px;
    background-color: #f8fafc80;
    font-weight:800;
} 

#add-task, #add-project{
    background-color: #f08080;
}



#main-content{
    padding: 50px;
    background-color: #2dd4bf50;
}

/*#tasks
when showing only tasks or only projects
#projects*/

/*#tasks-cards
when showing only tasks cards or only projects cards
#projectscards*/

#tasks{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.task{
    background-color: lightblue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

#done-task, #remove-task{
    border: 0px;
}

#done-task{
    background-color: lightgreen;
    font-weight: bold;
}

#remove-task{
    background-color: lightcoral;
    font-weight: bold;
}

.task div{
    display: grid;
    justify-content: center;
}

/* footer and icon code */

.footer{
    display: flex;
    grid-area: 2 / 1 / 2 / 3;
    justify-content: center;
    background-color: #94A3B8;
    align-items: center;
    color: black;
    margin: 0;
    height: 100%;
    gap: 10px;
}

.github-logo{
    max-width: 28px;
    max-height: 28px;
    color: var(--black);
    transition: transform 0.3s ease-in-out;
    filter: invert(99%) sepia(26%) saturate(179%) hue-rotate(297deg) brightness(113%) contrast(100%);
}

img:hover{
    transform: rotate(360deg) scale(1.2);
}
